<div style="text-align:center">
  <h1>Web TWAIN Scanning Tutorial for Angular</h1>
  <label for="twainDeviceList">TWAIN devices:</label>
  <select id="twainDeviceList"></select><br />
  <br />
  <input type="button" id="acquireImagesFromTwainDeviceButton" value="Acquire images from TWAIN device" disabled (click)="acquireImagesFromTwainDevice()" />

  <h3>Preview of scanned image</h3>
  <input type="image" id="previewImage" alt="Preview of scanned image" style="border:1px solid black; width:350px; height:350px" />
  <br />
  <br />
  <a href="https://www.vintasoft.com/docs/vstwain-dotnet-web/Licensing-Twain_Web-Evaluation.html" target="_blank">Read how to get the evaluation license</a><br />
  <a href="https://www.vintasoft.com/zip/VintasoftWebTwainService-15.0.5.zip">Download installer of VintaSoft Web TWAIN service</a><br />
</div>
